@font-face {
    font-family: 'HK Grotesk Bold';
    src: url(../fonts/hk-grotesk/HKGrotesk-Bold.otf);
}

.bg{
    background-image: url(../img/rcf-bg.png);
    background-size: 100% 100%; 
    font-family: 'HK Grotesk Bold';
}  