@font-face {
    font-family: 'HK Grotesk Bold';
    src: url(../fonts/hk-grotesk/HKGrotesk-Bold.otf);
}
@font-face {
    font-family: 'HK Grotesk Regular';
    src: url(../fonts/hk-grotesk/HKGrotesk-RegularLegacy.otf);
}
@font-face {
    font-family: 'Iosevka';
    src: url(../fonts/iosevka/iosevka-extended.ttf);
}
.bg{
    background-image: url(../img/rcf-bg.png);
    background-size: 100% 100%; 
    font-family: 'HK Grotesk Bold';
    height: 100vh;
}  
#content{
    font-family: 'HK Grotesk Regular';
    color: white;
}

#inst{
    background-color: #151515;
}

#pres, #features{
    background-color: #292929;
}

.code{
    background-color: #202020;
    border-radius: 15px;
    border: 2px solid gray;
    font-family: 'Iosevka';
}
footer{
    background-color: black;
    color: white;
}

